/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/* line 15, ../scss/_settings.scss */
.container {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
/* line 197, ../scss/jeet/_grid.scss */
.container:before, .container:after {
  content: '';
  display: table;
}
/* line 201, ../scss/jeet/_grid.scss */
.container:after {
  clear: both;
}

/* line 2, ../scss/_else.scss */
.col-8 {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 65.66667%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 197, ../scss/jeet/_grid.scss */
.col-8:before, .col-8:after {
  content: '';
  display: table;
}
/* line 201, ../scss/jeet/_grid.scss */
.col-8:after {
  clear: both;
}
/* line 49, ../scss/jeet/_grid.scss */
.col-8:last-child {
  margin-right: 0%;
}

/* line 6, ../scss/_else.scss */
.col-4 {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 197, ../scss/jeet/_grid.scss */
.col-4:before, .col-4:after {
  content: '';
  display: table;
}
/* line 201, ../scss/jeet/_grid.scss */
.col-4:after {
  clear: both;
}
/* line 49, ../scss/jeet/_grid.scss */
.col-4:last-child {
  margin-right: 0%;
}

/* line 10, ../scss/_else.scss */
.slider__container {
  min-height: 350px;
  position: relative;
}
/* line 13, ../scss/_else.scss */
.slider__container .slider__item {
  display: none;
}
/* line 15, ../scss/_else.scss */
.slider__container .slider__item.active {
  display: block;
}
/* line 19, ../scss/_else.scss */
.slider__container .slider__dots {
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 20px;
  text-align: center;
}
/* line 25, ../scss/_else.scss */
.slider__container .slider__dots .slider__dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background-color: #fff;
  margin-right: 10px;
}
/* line 31, ../scss/_else.scss */
.slider__container .slider__dots .slider__dot.active {
  position: relative;
  top: 2px;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-color: #fff;
  border: 3px solid #fff;
}

/* line 43, ../scss/_else.scss */
.item {
  background-color: #f24d44;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  display: block;
}
/* line 51, ../scss/_else.scss */
.item:hover {
  opacity: 0.8;
}
/* line 56, ../scss/_else.scss */
.item .item__img .item__img__logo {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../i/item-1-logo.png") center center no-repeat white;
  width: 65px;
  height: 65px;
}
/* line 64, ../scss/_else.scss */
.item .item__content {
  padding: 30px 20px;
  color: #FFF;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  -moz-box-shadow: inset 30px 0 50px -10px rgba(0, 1, 0, 0.2);
  -webkit-box-shadow: inset 30px 0 50px -10px rgba(0, 1, 0, 0.2);
  box-shadow: inset 30px 0 50px -10px rgba(0, 1, 0, 0.2);
}
/* line 72, ../scss/_else.scss */
.item .item__content h1 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
/* line 81, ../scss/_else.scss */
.item .item__content h1 .fa {
  border: 2px solid #fff;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 14px;
  border-radius: 100px;
  text-indent: 1px;
  position: relative;
  top: -4px;
  margin-left: 11px;
}
/* line 94, ../scss/_else.scss */
.item .item__content hr {
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #FFF;
  margin: 0;
  margin-bottom: 14px;
  opacity: 0.2;
}
/* line 102, ../scss/_else.scss */
.item .item__content p {
  color: #FFF;
}
/* line 108, ../scss/_else.scss */
.item.item--hor .item__img, .item.item--hor .item__content {
  float: left;
  display: inline-block;
  clear: none;
  width: 50%;
  overflow: hidden;
}
/* line 118, ../scss/_else.scss */
.item.item--hor .item__img {
  height: 100%;
}
/* line 120, ../scss/_else.scss */
.item.item--hor .item__img img {
  width: auto;
  height: 100%;
}
/* line 127, ../scss/_else.scss */
.item.item--vert .item__img {
  height: 50%;
}
/* line 129, ../scss/_else.scss */
.item.item--vert .item__img img {
  width: auto;
  height: 100%;
}
/* line 134, ../scss/_else.scss */
.item.item--vert .item__content {
  height: 50%;
  top: auto;
  bottom: 0;
}
/* line 141, ../scss/_else.scss */
.item.item--jp {
  height: 350px;
  background: url("../i/item-1-bg.png") right bottom no-repeat #f24d44;
}
/* line 144, ../scss/_else.scss */
.item.item--jp .item__img .item__img__logo {
  background: url("../i/item-1-logo.png") center center no-repeat white;
}
/* line 148, ../scss/_else.scss */
.item.item--avia {
  height: 185px;
  background-color: #445E75;
}
/* line 151, ../scss/_else.scss */
.item.item--avia .item__img .item__img__logo {
  background: url("../i/item-2-logo.png") center center no-repeat white;
}
/* line 155, ../scss/_else.scss */
.item.item--gr {
  height: 185px;
  background-color: #844D8A;
}
/* line 159, ../scss/_else.scss */
.item.item--us {
  height: 350px;
  background-color: #EF8F0A;
}
/* line 162, ../scss/_else.scss */
.item.item--us .item__img .item__img__logo {
  background: url("../i/item-4-logo.png") center center no-repeat white;
}
/* line 166, ../scss/_else.scss */
.item.item--spec {
  background-color: #4890DB;
  height: 390px;
}

/* line 2, ../scss/_ui.scss */
.ui-helper-hidden {
  display: none;
}

/* line 5, ../scss/_ui.scss */
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 15, ../scss/_ui.scss */
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

/* line 25, ../scss/_ui.scss */
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

/* line 31, ../scss/_ui.scss */
.ui-helper-clearfix:after {
  clear: both;
}

/* line 34, ../scss/_ui.scss */
.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}

/* line 37, ../scss/_ui.scss */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* line 47, ../scss/_ui.scss */
.ui-front {
  z-index: 100;
}

/* Interaction Cues
----------------------------------*/
/* line 54, ../scss/_ui.scss */
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
/* line 63, ../scss/_ui.scss */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
/* line 75, ../scss/_ui.scss */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 82, ../scss/_ui.scss */
.ui-resizable {
  position: relative;
}

/* line 85, ../scss/_ui.scss */
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}

/* line 90, ../scss/_ui.scss */
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

/* line 94, ../scss/_ui.scss */
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

/* line 101, ../scss/_ui.scss */
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

/* line 108, ../scss/_ui.scss */
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

/* line 115, ../scss/_ui.scss */
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

/* line 122, ../scss/_ui.scss */
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

/* line 129, ../scss/_ui.scss */
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

/* line 136, ../scss/_ui.scss */
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

/* line 143, ../scss/_ui.scss */
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

/* line 150, ../scss/_ui.scss */
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}

/* line 155, ../scss/_ui.scss */
.ui-slider {
  position: relative;
  text-align: left;
}

/* line 159, ../scss/_ui.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}

/* line 166, ../scss/_ui.scss */
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* For IE8 - See #6727 */
/* line 176, ../scss/_ui.scss */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

/* line 181, ../scss/_ui.scss */
.ui-slider-horizontal {
  height: .8em;
}

/* line 184, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

/* line 188, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

/* line 192, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

/* line 195, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* line 199, ../scss/_ui.scss */
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

/* line 203, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

/* line 208, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

/* line 212, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

/* line 215, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/* Component containers
----------------------------------*/
/* line 221, ../scss/_ui.scss */
.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

/* line 225, ../scss/_ui.scss */
.ui-widget .ui-widget {
  font-size: 1em;
}

/* line 228, ../scss/_ui.scss */
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em;
}

/* line 235, ../scss/_ui.scss */
.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  color: #222222;
}

/* line 240, ../scss/_ui.scss */
.ui-widget-content a {
  color: #222222;
}

/* line 243, ../scss/_ui.scss */
.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc;
  color: #222222;
  font-weight: bold;
}

/* line 249, ../scss/_ui.scss */
.ui-widget-header a {
  color: #222222;
}

/* line 39, ../scss/_lightbox.scss */
body:after {
  content: url(../i/prev.png) url(../i/next.png);
  display: none;
}

/* line 44, ../scss/_lightbox.scss */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 54, ../scss/_lightbox.scss */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 62, ../scss/_lightbox.scss */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 68, ../scss/_lightbox.scss */
.lightbox a img {
  border: none;
}

/* line 73, ../scss/_lightbox.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 83, ../scss/_lightbox.scss */
.lb-container {
  padding: 4px;
}

/* line 87, ../scss/_lightbox.scss */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 97, ../scss/_lightbox.scss */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  font-size: 32px;
  color: #000;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  text-shadow: rgba(255, 255, 255, 0.5) 0 0 30px;
}
/* line 117, ../scss/_lightbox.scss */
.lb-cancel:before {
  content: "\f021";
}

/* line 122, ../scss/_lightbox.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 131, ../scss/_lightbox.scss */
.lb-container > .nav {
  left: 0;
}

/* line 135, ../scss/_lightbox.scss */
.lb-nav a {
  outline: none;
}

/* line 139, ../scss/_lightbox.scss */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 147, ../scss/_lightbox.scss */
.lb-prev {
  left: 0;
  float: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
/* line 152, ../scss/_lightbox.scss */
.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background: url(../i/prev.png) left 48% no-repeat;
}

/* line 158, ../scss/_lightbox.scss */
.lb-next {
  right: 0;
  float: right;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
/* line 163, ../scss/_lightbox.scss */
.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background: url(../i/next.png) right 48% no-repeat;
}

/* line 169, ../scss/_lightbox.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 177, ../scss/_lightbox.scss */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
  position: relative;
}
/* line 181, ../scss/_lightbox.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 187, ../scss/_lightbox.scss */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 192, ../scss/_lightbox.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
/* line 199, ../scss/_lightbox.scss */
.lb-data .lb-close {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 30px;
  position: absolute;
  bottom: -30px;
  right: 0;
  color: #fff;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  visibility: hidden;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/* line 215, ../scss/_lightbox.scss */
.lb-data .lb-close:before {
  content: "\f00d";
  visibility: visible;
}
/* line 221, ../scss/_lightbox.scss */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 1, ../scss/_header.scss */
header {
  position: relative;
  height: 60px;
  margin-bottom: 30px;
  background-color: #ececec;
  -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.13);
  background-image: -moz-linear-gradient(top, #ececec 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(top, #ececec 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #ececec 0%, #ffffff 100%);
}
/* line 8, ../scss/_header.scss */
header .header__logo {
  display: inline-block;
  float: left;
  padding-top: 11px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}
/* line 15, ../scss/_header.scss */
header .header__logo h1, header .header__logo h2 {
  color: #313131;
  margin: 0;
  font-size: 19px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 2px;
  text-shadow: 0 1px 0 white;
}
/* line 35, ../scss/_header.scss */
header nav ul li {
  list-style: none;
  float: left;
}
/* line 38, ../scss/_header.scss */
header nav ul li:last-child a {
  border-right: none;
}
/* line 41, ../scss/_header.scss */
header nav ul li a {
  line-height: 60px;
  display: block;
  padding: 0 12px;
  text-decoration: none;
  border-right: 1px solid #dedede;
}
/* line 47, ../scss/_header.scss */
header nav ul li a:hover {
  background-color: #FCFCFC;
}
/* line 50, ../scss/_header.scss */
header nav ul li a img {
  margin-right: 7px;
  position: relative;
  top: 3px;
  -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.19);
}

/* line 1, ../scss/_footer.scss */
footer {
  border-top: 1px solid #E6E6E6;
  padding: 30px 0;
  margin-top: 70px;
}
/* line 5, ../scss/_footer.scss */
footer .footer__left {
  width: 400px;
  float: left;
}
/* line 9, ../scss/_footer.scss */
footer .footer__right {
  width: 400px;
  float: right;
  text-align: right;
}
/* line 14, ../scss/_footer.scss */
footer .icon-iastudio {
  position: relative;
  top: 5px;
  margin-right: 10px;
}

/* line 34, ../scss/app.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 40, ../scss/app.scss */
body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  background: white;
  line-height: 150%;
  font-size: 14px;
  color: #313131;
  min-width: 960px;
}

/* line 49, ../scss/app.scss */
a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

/* line 60, ../scss/app.scss */
#page-wrap {
  overflow: hidden;
}

/* line 64, ../scss/app.scss */
h1, h2, h3, h4, h5, p {
  color: #313131;
  margin-bottom: 18px;
}

/* line 69, ../scss/app.scss */
h1, h2, h3, h4, h5 {
  font-weight: bold;
}

/* line 73, ../scss/app.scss */
h1 {
  font-size: 24px;
}

/* line 77, ../scss/app.scss */
h2 {
  font-size: 20px;
}

/* line 81, ../scss/app.scss */
h3 {
  font-size: 16px;
}

/* line 85, ../scss/app.scss */
p {
  line-height: 1.2;
}

/* line 89, ../scss/app.scss */
strong {
  font-weight: bold;
}

/* line 93, ../scss/app.scss */
.right {
  float: right !important;
}

/* line 97, ../scss/app.scss */
.left {
  float: left !important;
}

/* line 101, ../scss/app.scss */
a, input, textarea, .btn {
  outline: none;
}

/* line 105, ../scss/app.scss */
a {
  color: #313131;
}
/* line 107, ../scss/app.scss */
a:hover {
  color: #646464;
}

/* line 112, ../scss/app.scss */
.lbox {
  display: block;
  border: 9px solid #fff;
  -moz-box-shadow: 1px 1px 0 0 #96c4ea;
  -webkit-box-shadow: 1px 1px 0 0 #96c4ea;
  box-shadow: 1px 1px 0 0 #96c4ea;
}
/* line 117, ../scss/app.scss */
.lbox:hover {
  opacity: 0.9;
}

/* line 122, ../scss/app.scss */
.container {
  position: relative;
  z-index: 1;
}
