
- var pageName = 'Главная'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
    //- Uncomment for LiveReload
    //-| <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  body
    .page-wrap
      include includes/top-bar
      main
        .container
          .col-8
            #slider.slider__container
              a.slider__item.active.item.item--hor.item--jp(href="#")
                .item__img
                  img.item__img__main(src="i/item-1.jpg")
                  .item__img__logo
                .item__content
                  h1 1Техника<br>из Японии
                    i.fa.fa-caret-right
                  hr
                  p «Япония-Трейд» основана в 2005 году в городе Владивостоке как компания, занимающаяся заказом любых саукциона YAHOO
              a.slider__item.item.item--hor.item--jp(href="#")
                .item__img
                  img.item__img__main(src="i/item-1.jpg")
                  .item__img__logo
                .item__content
                  h1 2Техника<br>из Японии
                    i.fa.fa-caret-right
                  hr
                  p «Япония-Трейд» основана в 2005 году в городе Владивостоке как компания, занимающаяся заказом любых саукциона YAHOO
              a.slider__item.item.item--hor.item--jp(href="#")
                .item__img
                  img.item__img__main(src="i/item-1.jpg")
                  .item__img__logo
                .item__content
                  h1 3Техника<br>из Японии
                    i.fa.fa-caret-right
                  hr
                  p «Япония-Трейд» основана в 2005 году в городе Владивостоке как компания, занимающаяся заказом любых саукциона YAHOO
              .slider__dots
            a.item.item--hor.item--avia(href="#")
              .item__img                
                img.item__img__main(src="i/item-2.jpg")
                .item__img__logo
              .item__content
                h1 Авиатехника
                  i.fa.fa-caret-right
                hr
                p «Япония-Трейд» основана в 2005 году в городе Владивостоке как компания, занимающаяся заказом любых саукциона YAHOO
            a.item.item--hor.item--gr(href="#")
              .item__img
                img.item__img__main(src="i/item-3.jpg")
              .item__content
                h1 Грузоперевозки
                  i.fa.fa-caret-right
                hr
                p «Япония-Трейд» основана в 2005 году в городе Владивостоке как компания, занимающаяся заказом любых саукциона YAHOO
          .col-4
            a.item.item--vert.item--us(href="#")
              .item__img
                img.item__img__main(src="i/item-4.jpg")
                .item__img__logo
              .item__content
                h1 Техника из США
                  i.fa.fa-caret-right
                hr
                p «Япония-Трейд» основана в 2005 году в городе Владивостоке как компания, занимающаяся заказом любых саукциона YAHOO
            a.item.item--vert.item--spec(href="#")
              .item__img
                img.item__img__main(src="i/item-5.jpg")
              .item__content
                h1 Грузовики<br>и спецтехника
                  i.fa.fa-caret-right
                hr
                p «Япония-Трейд» основана в 2005 году в городе Владивостоке как компания, занимающаяся заказом любых саукциона YAHOO
      include includes/footer
    include includes/tail