footer
	.container
		.footer__left Copyright &copy; 2014 – Группа компаний «Япония-Трейд»
		.footer__right
			img.icon-iastudio(src="i/iastudio-logo.svg", width="21", height="21", onerror="this.onerror=null; this.src='i/iastudio-logo.png'")
			|Создание сайта — студия «<a href="http://iastudio.ru" target="_blank">Интерактив</a>»