//- SETTINGS
- var title = pageName + ' - Группа компаний «Япония-Трейд»'
- var navItems = ['Техника из Японии', 'Техника из США', 'Грузовики и спецтехника', 'Авиа-техника', 'Грузоперевозки']
//- SETTINGS