header
	.container
		a.header__logo(href="#")
			h2 Группа компаний
			h1 «Япония-Трейд»
		nav
			ul
				li: a(href='#')
					img.nav__icon(src="i/nav-icons/1.png", width="16", height="16")
					|Техника из Японии
				li: a(href='#')
					img.nav__icon(src="i/nav-icons/2.png", width="16", height="16")
					|Техника из США
				li: a(href='#')
					img.nav__icon(src="i/nav-icons/1.png", width="16", height="16")
					|Грузовики и спецтехника
				li: a(href='#')
					img.nav__icon(src="i/nav-icons/3.png", width="16", height="16")
					|Авиа-техника
				li: a(href='#')
					img.nav__icon(src="i/nav-icons/4.png", width="16", height="16")
					|Грузоперевозки